
<div class="container ">


  <!-- <div class="col text-center">
    <h1 class="section-header-title" >
      TECHNOLOGIES
    </h1>
  </div>
  <div class="describe">
    <h1>
      Id fugiat nostrud consectetur adipisicing do. Reprehenderit proident nisi aliqua in nulla voluptate commodo incididunt cillum. Et exercitation pariatur ullamco proident incididunt est officia ex irure et consectetur proident.
    </h1>
  </div> -->

    <div class="intro-conteiner ">
      <div class="grain card-rectangle parallax-div card" data-speed="2">
        <div class="animated-container">
          <div id="text-anim">Boost Efficiency and Collaboration in Construction with Yours Tailored Software Solutions</div>
        </div>
      </div>

      <div class="intro-conteiner-slogan parallax-div card" data-speed="1">
        <div class="intro-conteiner__about ">
          <div>
            <span class="text_about">Leading the Way in Cutting-Edge Software Solutions for the Building Industry</span>
          </div>
        </div>
      </div>
      <div class="d-none d-sm-block">
        <div class="canvas-dots ">
          <canvas class="conteiner-canvas "></canvas>
        </div>
      </div>
    </div>

</div>
