<div class="in-development">
    <div class="z-under-layout">
        <ul class="list-none m-0 p-0">
            <li class="surface-border">
                <div class="flex align-items-center justify-content-between mb-3">
                    <div class="flex align-items-center">
                       
                        <div class="flex flex-column">
                            <span ><app-account-chip/></span>
                            <span class="text-500 font-medium text-sm">February 3, 2022</span>
                        </div>
                    </div>
                </div>
                <p class="text-600 p-0 m-0 line-height-3">Scelerisque varius morbi enim nunc. Arcu bibendum at
                    varius vel pharetra vel turpis nunc eget. Elit ut aliquam purus sit amet luctus. Aliquam
                    etiam erat velit scelerisque in.</p>
            </li>
            <p-divider></p-divider>
            <li class="surface-border">
                <div class="flex align-items-center justify-content-between mb-3">
                    <div class="flex align-items-center">
                     
                        <div class="flex flex-column">
                            <span ><app-account-chip/></span>
                            <span class="text-500 font-medium text-sm">February 4, 2022</span>
                        </div>
                    </div>
    
                </div>
                <p class="text-600 p-0 m-0 line-height-3">Orci porta non pulvinar neque laoreet suspendisse
                    interdum consectetur. Vitae elementum curabitur vitae nunc sed velit dignissim sodales ut.
                </p>
            </li>
            <p-divider></p-divider>
            <li class="surface-border">
                <div class="flex align-items-center justify-content-between mb-3">
                    <div class="flex align-items-center">                   
                        
                        <div class="flex flex-column">
                            <span ><app-account-chip/></span>
                            <span class="text-500 font-medium text-sm">February 5, 2022</span>
                        </div>
                    </div>
                </div>
                <p class="text-600 p-0 m-0 line-height-3">Sollicitudin nibh sit amet commodo nulla facilisi
                    nullam vehicula. Fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis.
                </p>
            </li>
        </ul>
    </div>
</div>