
<div class="container">
  <div class="card-text">
    <span class="flex text-justify text-xl text-white font-light ">
      &nbsp;&nbsp;&nbsp;&nbsp;We are Conbent, we are specialize in delivering cutting-edge software solutions tailored to the building industry. With expertise in .NET and Angular, our team excels in developing robust web applications and platforms that leverage PostgreSQL and microservices architecture. We are dedicated to ensuring the highest standards of security, especially when handling sensitive data.
    </span>
  </div>

  <div class="col text-center m-3 ">
    <h1 class="section-header-title" >
      TECHNOLOGIES
    </h1>
  </div>
  <div class="card-text">
    <span class="flex text-justify text-xl text-white font-light ">
      &nbsp;&nbsp;&nbsp;&nbsp;Conbent is a firm comprising graduate engineers with experience in a wide range of fields. The company's expertise extends to the development of technologies in IT in a wide range of areas.
    </span>
  </div>
  <div class="element-container">
    <div class="app">
      <div class="cardList">
        <button class="cardList__btn btn--left p-link" >
          <i class="pi pi-chevron-left"></i>
        </button>

        <div class="cards__wrapper" >
          <div class="card current--card">
            <div class="card__image">
              <img src="{{firstImage}}" alt="" />
            </div>
          </div>

          <div class="card next--card">
            <div class="card__image">
              <img src="{{secondImage}}" alt="" />
            </div>
          </div>

          <div class="card previous--card" >
            <div class="card__image" >
              <img src="{{thirdImage}}" alt="" />
            </div>
          </div>
        </div>

        <button class="cardList__btn btn--right p-link ">
          <i class="pi pi-chevron-right"></i>
        </button>
      </div>

      <div class="infoList">
        <div class="info__wrapper">
          <div class="info current--info">
            <h1 class="text name">CONSTRUCTION</h1>
            <p class="text description">The process of building<br>structures and<br>infrastructure</p>
          </div>

          <div class="info next--info">
            <h1 class="text name">ARCHITECHTURE</h1>
            <p class="text description">The art and science of<br>designing buildings<br>and structures.</p>
          </div>

          <div class="info previous--info">
            <h1 class="text name">MEP</h1>
            <p class="text description">Mechanical, Electrical,<br>and Plumbing systems<br>in buildings.</p>
          </div>
        </div>
      </div>

      <div class="app__bg">
        <div class="app__bg__image current--image">
          <img src="{{firstImage}}" alt="" />
        </div>
        <div class="app__bg__image next--image">
          <img src="{{secondImage}}" alt="" />
        </div>
        <div class="app__bg__image previous--image">
          <img src="{{thirdImage}}" alt="" />
        </div>
      </div>
    </div>


  <svg class="icons" style="display: none;">
    <symbol id="arrow-left" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'>
      <polyline points='328 112 184 256 328 400'
             style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' />
    </symbol>
    <symbol id="arrow-right" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'>
      <polyline points='184 112 328 256 184 400'
             style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' />
    </symbol>
  </svg>


  </div>
</div>

