<!-- 
  <carousel *ngIf="isBrowser"
              [interval]="2000"
              [noWrap]="false"
              [noPause]="true"
              [showIndicators]= "true"
              [isAnimated]="true"
              [indicatorsByChunk]="true"
  >
    <slide>
      <img class="img-container" src="assets\images\1.png" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img class="img-container" src="assets\images\2.png" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img class="img-container" src="assets\images\3.png" alt="third slide" style="display: block; width: 100%;">
  </slide>
</carousel>
 -->
